<div class="ui-g">
    <div class="ui-g-12">
      <h1>Rastrear Encomenda</h1>
    </div>
  </div>
  
  <div class="ui-g">
      <div class="ui-g-12">
  <form autocomplete="off" #frm="ngForm" (ngSubmit)="pesquisar(frm)">
        <div class="ui-g-8 ui-sm-12 ui-fluid">
          <input pInputText id="rastrear" name="rastrear" [(ngModel)]="venda" #teste
         required/>
        </div>
        <div class="ui-g-4">
            <button pButton type="button" icon="pi pi-plus" label="Pesquisar" (click)="pesquisar(teste.value)">
            </button>  
          </div>
  </form>
</div>
</div>
<div class="ui-g">
    <div class="ui-g-12">
        <p-table [value]="movimentacoes" responsive="true">
            <ng-template pTemplate="caption">
                   Status Encomenda
            </ng-template>
         <ng-template pTemplate="header">
            <tr>
               <th class="col-header-id">Código</th>
               <th>Status</th>
               <th>Cliente</th>
               <th>Data</th>
               <th>Valor Pago</th>
            </tr>
         </ng-template>
  
         <ng-template pTemplate="body" let-mov>
            <tr>
                <td>
                    {{ mov.id }}
                   </td>
                   <td>
                      {{ mov.statusEncomenda}}
                     </td>
                  <td>
                    {{ mov.encomenda.cliente.nome}}
                   </td>
                  <td class="col-data">
                    {{ mov.data | date: 'dd/MM/yyyy'}}
                   </td>
                  <td class="col-numero">
                    {{ mov.encomenda.valorTotal | number: '1.2-2'}}
                   </td>
            </tr>
         </ng-template>

         <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">Nenhuma encomenda encontrada </td>
            </tr>
          </ng-template>

          </p-table>
    </div>
</div>